.delivery {
    margin-bottom: 7px;
}

.delivery__wrapper {
    position: relative;
    padding-top: 94px;
    padding-bottom: 50px;
    background-image: url("/img/delivery/delivery.svg");
    background-repeat: no-repeat;
    background-size: 588px 464px;
    background-position: right 30px;


    @media (max-width: 990px) {
        padding-top: 54px;
        background-size: 437px 314px;
        background-position: right center;
    }

    @media (max-width: 860px) {
        background-size: 387px 264px;
    }

    @media (max-width: 690px) {
        padding-top: 0;
        background: none;
    }
}

.delivery h1 {
    position: relative;
    max-width: 500px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 56px;
    line-height: 80px;
    font-weight: 600;
    color: $blue-light;
    margin-bottom: 20px;

    &::before {
        position: absolute;
        content: "";
        width: 86px;
        height: 49px;
        background: url("/img/delivery/delivery-icon.svg") no-repeat;
        top: -14px;
        left: -78px;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    @media (max-width: 860px) {
        max-width: 350px;
        font-size: 40px;
        line-height: 60px;
    }
}

.delivery__cost {
    font-weight: 700;
}

.delivery .delivery__text {
    max-width: 450px;
    padding-left: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: $black;
    margin-bottom: 50px;

    @media (max-width: 990px) {
        max-width: 350px;
    }
}

.delivery__wrapper .lg {
    padding: 20px 35px 19px 35px;
}
