.onboard {
    padding-top: 80px;
}

.onboard__inner {
    position: relative;
    /*max-width: 701px;*/
}

.onboard__slide-wrapper {
    margin: 0;
    padding: 0;
    display: flex; /*Временно, пока они вряд выставленны*/
}

.onboard__slide {
    padding: 82px 50px 30px 60px;
    max-width: 701px;
    min-height: 671px;
    box-shadow: 0 0 51px rgba(1,1,1, 0.4);
    border-radius: 10px;
    background-repeat: no-repeat;

   margin-right: 37px; /*Временно, пока они вряд выставленны*/

    @media (max-width: 637px) {
        padding: 98px 30px 30px 30px;
        min-height: 667px;
    }
}

.onboard__slide--first {
    background-image: url("/img/onboard/background-first.svg"),
        url("/img/onboard/background-wave-first.svg");
    background-position: 60px 218px,-140px 254px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first.svg");
        background-position: 0 265px,-140px 254px;
    }

    @media (max-width: 405px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first-mobile.svg");
        background-position: 0px 265px,-82px 243px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first-mobile.svg");
        background-position: -50px 265px,-82px 243px;
    }
}

.onboard__slide--bonus {
    background-image: url("/img/onboard/bonus.svg"),
        url("/img/onboard/background-bonus.svg");
    background-position: 80px 339px,-99px 254px;

    @media (max-width: 491px) {
        background-size: 267px 279px, auto;
        background-position: 9px 409px,-100px 253px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/bonus.svg"),
        url("/img/onboard/background-bonus-mobile.svg");
        background-position: 9px 409px,-168px 254px;
    }
}

.onboard__slide--assortment {
    background-image: url("/img/onboard/assortment.svg"),
    url("/img/onboard/background-assortment.svg");
    background-position: -69px 199px,-195px 251px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/assortment.svg"),
        url("/img/onboard/background-assortment.svg");
        background-size: 298px 298px, auto;
        background-position: -47px 392px,-195px 251px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/assortment.svg"),
        url("/img/onboard/background-assortment-mobile.svg");
        background-position: -47px 392px,-179px 245px;
    }
}

.onboard__slide--online-help {
    background-image: url("/img/onboard/online-help.svg"),
    url("/img/onboard/background-online-help.svg");
    background-position: 119px 180px,-58px 169px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/online-help.svg"),
        url("/img/onboard/background-online-help.svg");
        background-size: 359px 359px, auto;
        background-position: 9px 259px,-58px 169px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/online-help.svg"),
        url("/img/onboard/background-online-help-mobile.svg");
        background-position: 9px 259px,-88px 254px;
    }
}

.onboard__slide--stocks {
    padding-right: 40px;
    background-image: url("/img/onboard/stocks.svg"),
    url("/img/onboard/background-stocks.svg");
    background-position: -63px 71px,-231px 287px;

    @media (max-width: 485px) {
        background-image: url("/img/onboard/stocks-mobile.svg"),
        url("/img/onboard/background-stocks.svg");
        background-position: 1px 238px,-231px 287px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/stocks-mobile.svg"),
        url("/img/onboard/background-stocks-mobile.svg");
        background-position: 1px 238px,-173px 338px;
    }
}

.onboard__slide--guide {
    background-image: url("/img/onboard/guide.svg"),
    url("/img/onboard/background-guide.svg");
    background-position: 80px 271px,-214px 175px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/guide.svg"),
        url("/img/onboard/background-guide.svg");
        background-size: 444px 343px, auto;
        background-position: -75px 354px,-214px 175px
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/guide.svg"),
        url("/img/onboard/background-guide-mobile.svg");
        background-size: 444px 343px, auto;
        background-position: -75px 354px, -146px 288px;
    }
}

.onboard__slide--cashback {
    padding-right: 70px;
    background-image: url("/img/onboard/cashback.svg"),
    url("/img/onboard/background-cashback.svg");
    background-position: 20px 277px,-152px 302px;

    @media (max-width: 410px) {
        padding-right: 60px;
        background-image: url("/img/onboard/cashback-mobile.svg"),
        url("/img/onboard/background-cashback-mobile.svg");
        background-position: 1px 294px,-240px 297px;
    }
}

.onboard__slide--account {
    background-image: url("/img/onboard/account.svg"),
    url("/img/onboard/background-account.svg");
    background-position: 136px 241px,-227px 305px;

    @media (max-width: 491px) {
        background-image: url("/img/onboard/account-mobile.svg"),
        url("/img/onboard/background-account.svg");
        background-position: 17px 334px,-227px 305px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/account-mobile.svg"),
        url("/img/onboard/background-account-mobile.svg");
        background-position: 17px 334px,-170px 303px;
    }
}

.onboard__heading {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $black;
    margin: 0 0 49px 0 !important;

    &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 4px;
        background: $pink;
        bottom: -28px;
        left: 0;
    }



    @media (max-width: 637px) {
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 51px 0 !important;

        &::after {
            bottom: -30px;
        }
    }
}

.onboard__heading--first {
    @media (max-width: 449px) {
        font-size: 20px;
        line-height: 25px;
    }
}

.onboard__heading--bonus {
    max-width: 494px;
}

.onboard__heading--stocks {
    margin: 0 0 60px 0 !important;

    @media (max-width: 410px) {
        margin: 0 0 51px 0 !important;
    }
}

.onboard__heading--account {
    max-width: 453px;
}

.onboard__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $grey-dark1;
    margin: 0 0 30px 0;

    @media (max-width: 637px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
    }
}

.onboard__text--first {
    max-width: 277px;

    @media (max-width: 400px) {
        font-size: 14px;
    }
}

.onboard__text--bonus {
    max-width: 495px;
}

.onboard__text--online-help {
    max-width: 381px;
}

.onboard__text--account {
    max-width: 541px;
}

.onboard__btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 11px 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $white;
    border-radius: 10px;
}

.onboard__btn--content {
    background-color: $pink;
}

.onboard__btn-close {
    position: absolute;
    border: none;
    outline: none;
    background: url("/img/onboard/icon-close.svg") transparent;
    width: 24px;
    height: 24px;
    top: 28px;
    right: 28px;
}

.onboard__btn--next {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: $grey-light2;
}

.onboard__links-wrapper {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 637px) {
        justify-content: flex-start;
    }
}

.onboard__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 310px;

    @media (max-width: 637px) {
        max-width: 100%;
    }
}

.onboard__link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 5px;
    background-color: $grey-light3;
    margin-right: 9px;
    margin-bottom: 5px;

    @media (max-width: 637px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.onboard__buttons-nav {
    display: inline-block;
    position: absolute;
    top: 23px;
    right: 259px;
}

.onboard__btn-nav {
    width: 11px;
    height: 4px;
    border-radius: 20px;
    margin: 0 5px 0 0;
    padding: 0;
    background-color: $grey-light4;
}

.onboard__btn-nav--active {
    width: 30px;
    background-color: $pink;
}

.onboard__hide {
    display: none;
}
