.onboards {
    position: fixed;
    background-color: rgba(0,0,0, 0.27);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 2001;
}

.onboards__wrapper {
    background-color: $white;
    max-width: 701px;
    position: fixed;
    z-index: 2002;
    border-radius: 10px;
    overflow: hidden;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

.onboards__list {
    padding: 0;
    margin: 0;
    list-style: none;
    /*display: flex; /*Временно, пока они вряд выставленны*/
}

.onboards__item--first {
    background-image: url("/img/onboard/background-first.svg"),
        url("/img/onboard/background-wave-first.svg");
    background-position: 60px 218px,-140px 254px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first.svg");
        background-position: 0 265px,-140px 254px;
    }

    @media (max-width: 405px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first-mobile.svg");
        background-position: 0px 265px,-82px 243px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/background-first-mobile.svg"),
        url("/img/onboard/background-wave-first-mobile.svg");
        background-position: -50px 265px,-82px 243px;
    }
}

.onboards__item--bonus {
    background-image: url("/img/onboard/bonus.svg"),
        url("/img/onboard/background-bonus.svg");
    background-position: 80px 339px,-99px 254px;

    @media (max-width: 491px) {
        background-size: 267px 279px, auto;
        background-position: 9px 409px,-100px 253px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/bonus.svg"),
        url("/img/onboard/background-bonus-mobile.svg");
        background-position: 9px 409px,-168px 254px;
    }
}

.onboards__item--assortment {
    background-image: url("/img/onboard/assortment.svg"),
    url("/img/onboard/background-assortment.svg");
    background-position: -69px 199px,-195px 251px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/assortment.svg"),
        url("/img/onboard/background-assortment.svg");
        background-size: 298px 298px, auto;
        background-position: -47px 392px,-195px 251px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/assortment.svg"),
        url("/img/onboard/background-assortment-mobile.svg");
        background-position: -47px 392px,-179px 245px;
    }
}

.onboards__item--online-help {
    background-image: url("/img/onboard/online-help.svg"),
    url("/img/onboard/background-online-help.svg");
    background-position: 119px 180px,-58px 169px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/online-help.svg"),
        url("/img/onboard/background-online-help.svg");
        background-size: 359px 359px, auto;
        background-position: 9px 259px,-58px 169px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/online-help.svg"),
        url("/img/onboard/background-online-help-mobile.svg");
        background-position: 9px 259px,-88px 254px;
    }
}

.onboards__item--stocks {
    padding-right: 40px;
    background-image: url("/img/onboard/stocks.svg"),
    url("/img/onboard/background-stocks.svg");
    background-position: -63px 71px,-231px 287px;

    @media (max-width: 485px) {
        background-image: url("/img/onboard/stocks-mobile.svg"),
        url("/img/onboard/background-stocks.svg");
        background-position: 1px 238px,-231px 287px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/stocks-mobile.svg"),
        url("/img/onboard/background-stocks-mobile.svg");
        background-position: 1px 238px,-173px 338px;
    }
}

.onboards__item--guide {
    background-image: url("/img/onboard/guide.svg"),
    url("/img/onboard/background-guide.svg");
    background-position: 80px 271px,-214px 175px;

    @media (max-width: 637px) {
        background-image: url("/img/onboard/guide.svg"),
        url("/img/onboard/background-guide.svg");
        background-size: 444px 343px, auto;
        background-position: -75px 354px,-214px 175px
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/guide.svg"),
        url("/img/onboard/background-guide-mobile.svg");
        background-size: 444px 343px, auto;
        background-position: -75px 354px, -146px 288px;
    }
}

.onboards__item--cashback {
    padding-right: 70px;
    background-image: url("/img/onboard/cashback.svg"),
    url("/img/onboard/background-cashback.svg");
    background-position: 20px 277px,-152px 302px;

    @media (max-width: 410px) {
        padding-right: 60px;
        background-image: url("/img/onboard/cashback-mobile.svg"),
        url("/img/onboard/background-cashback-mobile.svg");
        background-position: 1px 294px,-240px 297px;
    }
}

.onboards__item--account {
    background-image: url("/img/onboard/account.svg"),
    url("/img/onboard/background-account.svg");
    background-position: 136px 241px,-227px 305px;

    @media (max-width: 491px) {
        background-image: url("/img/onboard/account-mobile.svg"),
        url("/img/onboard/background-account.svg");
        background-position: 17px 334px,-227px 305px;
    }

    @media (max-width: 410px) {
        background-image: url("/img/onboard/account-mobile.svg"),
        url("/img/onboard/background-account-mobile.svg");
        background-position: 17px 334px,-170px 303px;
    }
}
