.onboard {
    padding: 82px 50px 30px 60px;
    width: 701px;
    min-height: 671px;
    box-shadow: 0 0 51px rgba(1,1,1, 0.4);
    background-repeat: no-repeat;
    margin: 0;

    @media (max-width: 768px) {
        padding: 98px 30px 30px 30px;
        width: 375px;
        min-height: 667px;
    }

    @media (max-width: 375px) {
        width: 320px;
    }
}

.onboard__heading {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $grey-dark1;
    margin: 0 0 49px 0 !important;

    &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 4px;
        background: $pink;
        bottom: -28px;
        left: 0;
    }



    @media (max-width: 768px) {
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 51px 0 !important;

        &::after {
            bottom: -30px;
        }
    }
}

.onboard__heading--first {
    @media (max-width: 375px) {
        font-size: 20px;
        line-height: 25px;
    }
}

.onboard__heading--bonus {
    max-width: 494px;
}

.onboard__heading--stocks {
    margin: 0 0 60px 0 !important;

    @media (max-width: 768px) {
        margin: 0 0 51px 0 !important;
    }
}

.onboard__heading--account {
    max-width: 453px;
}

.onboard__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $grey-dark1;
    margin: 0 0 30px 0;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 21px;
    }
}

.onboard__bold{
    font-weight: 700;
}

.onboard__text--first {
    max-width: 277px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.onboard__text--bonus {
    max-width: 495px;
}

.onboard__text--online-help {
    max-width: 381px;
}

.onboard__text--account {
    max-width: 541px;
}

.onboard__btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 11px 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $white;
    border-radius: 10px;
}

.onboard__btn--content {
    background-color: $pink;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 0 10px 25px $pink2;
        color: $white;
        cursor: pointer;
    }
}

.onboard__links-wrapper {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
        justify-content: flex-start;
    }
}

.onboard__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 310px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.onboard__link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 5px;
    background-color: $grey-light3;
    margin-right: 9px;
    margin-bottom: 5px;
    color: $grey-dark1;
    border: none;

    @media (max-width: 768px) {
        font-size: 10px;
        line-height: 12px;
    }
}
