.one-minute__wrapper {
    background-image: url("/../img/one-minute/one-minute.svg");
    background-repeat: no-repeat;
    background-position: 468px 0;
    padding-top: 38px;

    @media (max-width: 1100px) {
        background-position: 420px 50px;
        background-size: 500px auto;
    }

    @media (max-width: 920px) {
        background: none;
    }
}

.one-minute_text {
    max-width: 400px;
    margin-bottom: 29px;
}


.one-minute_text h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
    color: $blue-light;
    margin: 0;
}

.one-minute_text P {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}

.one-minute__form label {
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    color: #454E58;
    margin-bottom: 13px;
}

.one-minute__form input {
    display: block;
    height: 65px;
    padding: 18px 42px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    color: #616E81;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 #D5EAF1;
}

.one-minute__form-submit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 28px;
}

.one-minute__form-submit button {
    flex-shrink: 0;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    color: $white;
    padding: 10px 64px;
    border: none;
    border-radius: 10px;
    background: #3A78BC;
    cursor: pointer;
    margin-right: 50px;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 0 10px 25px rgba(30, 144, 255, 0.4);
        color: $white;
    }
}

.one-minute__form-submit p {
    max-width: 420px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.one-minute__link {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #3A78BC;
}

@media (max-width: 767px) {
    .one-minute_text h3 {
        font-size: 40px;
        line-height: 60px;
    }

    .one-minute_text {
        max-width: 100%;
        text-align: center;
    }

    .one-minute__form label {
        display: none;
    }

    .one-minute__form-submit {
        display: block;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .one-minute__form-submit p {
        text-align: center;
    }

    .one-minute__form-submit button {
        width: 100%;
        padding: 10px 20px;
        margin: 0;
        margin-bottom: 10px;
    }
}
