.opportunities__wrapper {
    position: relative;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.opportunities__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opportunities__heading {
    color: $white;
}

.opportunities__heading--gapage-sale {
    max-width: 500px;
}

.opportunities__heading--discount {
    margin-bottom: 39px;
}

.opportunities__heading--economy {
    max-width: 530px;
    margin-bottom: 39px;
}

.opportunities__text {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: $white;
    margin-bottom: 32px;
}

.opportunities__text--discount,
.opportunities__text--economy {
    margin-bottom: 48px;
}

.opportunities__item {
    position: relative;
    height: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 60px $grey-light-1;
    margin: 0;

    &::before {
        position: absolute;
        content: "";

        @media (max-width: 990px) {
            display: none;
        }
    }

    &--left {
        padding: 58px 455px 67px 98px;
    }

    &--right {
        padding: 58px 44px 67px 455px;
    }

    @media (max-width: 990px) {
        padding: 58px 84px 67px 84px;
    }

    @media (max-width: 767px) {
        padding: 58px 15px 67px 15px;
    }
}

.opportunities__item--special {
    background: linear-gradient(100.49deg, #A1B9F9 1.62%, #5575E7 98.14%);

    &::before {
        background: url("/img/slider/special.svg") no-repeat;
        width: 267px;
        height: 414px;
        right: 107px;
        top: 32px;
    }
}

.opportunities__item--gapage-sale {
    background: linear-gradient(100.49deg, #8DEDF3 1.62%, #3A8DBC 98.14%);

    &::before {
        background: url("/img/slider/gapage-sale.svg") no-repeat;
        width: 295px;
        height: 393px;
        left: 107px;
        top: 19px;
    }
}

.opportunities__item--discount {
    background: linear-gradient(100.49deg, #F38DCA 1.62%, #BC3A88 98.14%);

    &::before {
        background: url("/img/slider/discount.svg") no-repeat;
        width: 402px;
        height: 393px;
        right: 97px;
        top: 43px;
    }
}

.opportunities__item--economy {
    background: linear-gradient(100.49deg, #F3BE8D 1.62%, #BC803A 98.14%);

    &::before {
        background: url("/img/slider/economy.svg") no-repeat;
        width: 292px;
        height: 270px;
        left: 62px;
        top: 96px;
    }
}

.opportunities__item--special-additional {
    background: linear-gradient(100.49deg, #A88DF3 1.62%, #733ABC 98.14%);

    &::before {
        position: absolute;
        content: "";
        background: url("/img/slider/special-2.svg") no-repeat;
        width: 371px;
        height: 457px;
        right: 60px;
        top: 17px;
    }
}

.opportunities__text-wrapper {
    padding-right: 20px;

    @media (max-width: 990px) {
        padding: 0;
    }
}

.opportunities__btn {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border: 2px solid $white;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 0 10px 25px rgba(192,192,192,0.7);
    }

    &:not(:last-child) {
        margin-right: 15px;
    }

    @media (max-width: 767px) {
        display: block;
        text-align: center;

        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }
}

.opportunities__btn--condition {
    background-color: $white;
    color: $black;

    &:hover {
        border: 2px solid $white;
        color: $black;
    }
}

.opportunities__btn-statistics {
    color: $white;

    &:hover {
        border: 2px solid $white;
        color: $white;
    }
}

.opportunities__btn-wrapper {
    display: flex;

    @media (max-width: 767px) {
        display: block;
        text-align: center;
    }
}

.opportunities__btn-slider-wrapper {
    position: absolute;
    bottom: 76px !important;
    left: 98px !important;
    width: auto !important;
    z-index: 10;

    @media (max-width: 767px) {
        padding: 0 10px;
        bottom: 10px !important;
        left: 15px !important;
        right: 15px;
    }

    @media (max-width: 480px) {
        bottom: 10px !important;
    }
}

.opportunities__btn-slider {
    width: 61px;
    height: 3px;
    background-color: $white;
    border-radius: 5px;
    margin-right: 6px;
    cursor: pointer;
}

.opportunities__btn-slider--active {
    background-color: $black;
    opacity: 0.5;
}
