.heading__second {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: $white;

    @media (max-width: 767px) {
        font-size: 28px;
        line-height: 30px;
    }
}

.heading-secondary {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: 26px;
        line-height: 33px;
    }
}
