.heading__second {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: $white;

    @media (max-width: 767px) {
        font-size: 28px;
        line-height: 30px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.heading-secondary {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: 26px;
        line-height: 33px;
    }
}
