.shopping {
    background-color: $white-1;
}

.shopping__wrapper {
    display: flex;
    padding-top: 56px;

    @media (max-width: 767px) {
        display: block;
    }
}

.shopping__wrapper-heading {
    box-shadow: 0 0 60px $grey-light-1;
    border-radius: 60px;
    padding: 30px 10px 40px 10px;
    text-align: center;
    height: min-content;
}

.shopping__img {
    margin-bottom: 8px;
}

.shopping__text-heading {
    min-width: 240px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
    box-sizing: border-box;
}

.shopping__content {
    padding: 29px 10px 10px 78px;

    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.shopping__text {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    padding-right: 50px;
    margin-bottom: 25px;

    @media (max-width: 990px) {
        font-size: 26px;
        line-height: 40px;
        padding: 0;
    }

    @media (max-width: 767px) {
        font-size: 23px;
        line-height: 30px;
    }
}

.shopping__highlighting {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color: $pink;

    @media (max-width: 990px) {
        font-size: 26px;
        line-height: 40px;
        padding: 0;
    }

    @media (max-width: 767px) {
        font-size: 23px;
        line-height: 30px;
    }
}

.shopping__text-explanation {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(88, 98, 113, 1);
    margin-bottom: 39px;
}

.shopping__btn {
    background-color: $blue-light;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 0 10px 25px rgba(30,144,255,0.4);
        color: $white;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}
