.stock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 865px) {
        display: block;
    }
}

.stock__promo{
    box-shadow: 0 0 60px $grey-light-1;
    border-radius: 20px;
    overflow: hidden;

    &:not(:last-child) {
        margin-right: 50px;

        @media (max-width: 1170px) {
            margin-bottom: 50px;
        }

        @media (max-width: 865px) {
            margin-bottom: 50px;
            margin-right: 0;
        }
    }

    @media (max-width: 1120px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

.stock__link {
    display: block;
    border: none;
    transition: opacity 0.2s linear;

    &:hover {
        border: none;
        opacity: 0.7;
    }
}
