$black: #000000;
$black-light: rgba(0, 0, 0, 0.1);
$grey: #586271;
$grey1: #586271;
$grey-light-1: #d5eaf1;
$grey-light: #586271;
$white: #ffffff;
$blue-light: #3A78BC;
$pink: #FF006D;
$pink1: #FE016D;
$white-1: #FEFAFF;

$black-1: #1a223f;
$yellow: #ffe200;
$blue: #1467ff;
$blue-dark: #084fd1;
$blue-light-1: #ddeaff;
$grey-dark: #282828;
$grey-medium: #808080;
$grey-special: #5d5d5d;
