$black: #000000;
$black-light: rgba(0, 0, 0, 0.1);
$black-light1:#2E2828;
$grey: #586271;
$grey1: #2B343F;
$grey-light-1: #d5eaf1;
$grey-light: #586271;
$grey-light2: #37474f;
$grey-light3: #f4f4f4;
$grey-light4: #e8e8e8;
$grey-dark: #2D2F33;
$grey-dark1: #263238;
$white: #ffffff;
$blue-light: #3A78BC;
$blue-light1:#3578DC;
$blue-light2: #6392CA;
$pink: #FF006D;
$pink1: #FE016D;
$pink2: rgba(255,0,109, 0.4);
$pink3: #FF86BA;
$pink3: #D66C99;
$white-1: #FEFAFF;
$beige: #FEFAFF;
$black-1: #1a223f;
$yellow: #ffe200;
$blue: #1467ff;
$blue-dark: #084fd1;
$blue-light-1: #ddeaff;
$grey-medium: #808080;
$grey-special: #5d5d5d;
